<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengkongtec.dao.ProductDao">
	
	<select id="getList" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.util.List">
		select id,
		product_name productName,
		product_info productInfo,
		create_time createTime,
		update_time updateTime,
		creater creater,
		updater updater from product where 
		delete_status = '1'
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="productName != null and productName != ''">
			and product_name = #{productName},
		</if>
		<if test="productInfo != null and productInfo != ''">
			and product_info = #{productInfo},
		</if>
		<if test="createTime != null and createTime != ''">
			and create_time = #{createTime}
		</if>
		<if test="updateTime != null and updateTime != ''">
			and update_time = #{updateTime}
		</if>
		<if test="creater != null and creater != ''">
			and creater = #{creater}
		</if>
		<if test="updater != null and updater != ''">
			and updater = #{updater}
		</if>
	</select>
	
	<select id="getCount" parameterType="com.alibaba.fastjson.JSONObject" resultType="java.lang.Integer">
		select count(1) from product where 
		delete_status = '1'
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="productName != null and productName != ''">
			and product_name = #{productName}
		</if>
		<if test="productInfo != null and productInfo != ''">
			and	product_info = #{productInfo},
		</if>
		<if test="createTime != null and createTime != ''">
			and create_time = #{createTime}
		</if>
		<if test="updateTime != null and updateTime != ''">
			and update_time = #{updateTime}
		</if>
		<if test="creater != null and creater != ''">
			and creater = #{creater}
		</if>
		<if test="updater != null and updater != ''">
			and updater = #{updater}
		</if>
	</select>
	
	<insert id="insert" parameterType="com.alibaba.fastjson.JSONObject">
		insert into product
	    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="productName != null">
	        product_name,
	      </if>
	      <if test="productInfo != null">
	        product_info,
	      </if>
	      <if test="createTime != null">
	        create_time,
	      </if>
	      <if test="updateTime != null">
	        update_time,
	      </if>
	      <if test="creater != null">
	        creater,
	      </if>
	      <if test="updater != null">
	        updater,
	      </if>
	      <if test="deleteStatus != null">
	        delete_status,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="productName != null">
	        #{productName,jdbcType=VARCHAR},
	      </if>
	       <if test="productInfo != null">
	        #{productInfo,jdbcType=VARCHAR},
	      </if>
	      <if test="createTime != null">
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updateTime != null">
	        #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="creater != null">
	        #{creater,jdbcType=INTEGER},
	      </if>
	      <if test="updater != null">
	        #{updater,jdbcType=INTEGER},
	      </if>
	      <if test="deleteStatus != null">
	        #{deleteStatus,jdbcType=VARCHAR},
	      </if>
	    </trim>
	</insert>
	
	<update id="update" parameterType="com.alibaba.fastjson.JSONObject">
		update product 
		<set>
			<if test="productName != null and productName != ''">
				product_name = #{productName},
			</if>
			<if test="productInfo != null and productInfo != ''">
				product_info = #{productInfo},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
			<if test="creater != null and creater != ''">
				creater = #{creater},
			</if>
			<if test="updater != null and updater != ''">
				updater = #{updater}
			</if>
			<if test="delete_status != null and delete_status != ''">
				delete_status = #{deleteStatus}
			</if>
		</set>
			where id = #{id}
	</update>
	
	<update id="delete" parameterType="com.alibaba.fastjson.JSONObject">
		update product 
		<set>
			<if test="productName != null and productName != ''">
				product_name = #{productName},
			</if>
			<if test="productInfo != null and productInfo != ''">
				product_info = #{productInfo},
			</if>
			<if test="createTime != null and createTime != ''">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime},
			</if>
			<if test="creater != null and creater != ''">
				creater = #{creater},
			</if>
			<if test="updater != null and updater != ''">
				updater = #{updater},
			</if>
			delete_status = '2'
		</set>
			where id = #{id}
	</update>
</mapper>